@font-face  {
    font-family: 'CustomFont';
    src: url('/fonts/RingbearerMedium-51mgZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbarHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252A;
    padding: 0px 10px;
    border-bottom: 2px solid #A39029;
}

.navbarNav{
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Centers the nav items */
}

.navTit {
    font-family: 'CustomFont', sans-serif;
    font-weight: 400;
    font-size: 37px;
    color: #edf0f1;
    text-decoration: none;
    padding-left: 20px;
    color: #A39029;
}

.navLogo {
    cursor: pointer;
    width: 90px; 
    height: auto;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 30px;
    text-decoration: none;
    font-size: 25px;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
    font-family: 'CustomFont', sans-serif;
    color: #A39029;
    text-decoration: none;
    font-size: 25px;
}

.navLinks li a:hover {
   color: #A39029;
   text-shadow: 0.5px 0.5px 0.5px #FF5C00, -0.5px -0.5px 0.5px #FF5C00, 0.5px -0.5px 0.5px #FF5C00, -0.5px 0.5px 0.5px #FF5C00;
   /* font-size: 25.5px; */
}