@font-face  {
    font-family: 'CustomFont1';
    src: url('/fonts/RingbearerMedium-51mgZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Books {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8px;
}

.pageTit{
    font-size: 45px;
    text-align: center;
    font-family: 'CustomFont1', sans-serif;
    color: #F8F8F2;
}