@font-face  {
    font-family: 'CustomFont1';
    src: url('/fonts/RingbearerMedium-51mgZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face  {
    font-family: 'CustomFont2';
    src: url('/fonts/HobbitonBrushhandhobbitonBrush-WygA.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face  {
    font-family: 'CustomFont3';
    src: url('/fonts/Theonering-Xq3d.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face  {
    font-family: 'CustomFont4';
    src: url('/fonts/BilboHandRegular-L3MZ.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face  {
    font-family: 'CustomFont5';
    src: url('/fonts/BilboHandFine-gxVR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face  {
    font-family: 'CustomFont6';
    src: url('/fonts/BilboHandBoldBold-X3od.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face  {
    font-family: 'CustomFont7';
    src: url('/fonts/PartyBusiness-4B0K.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

 /* Deep Red: #9B111E
  Orange-Red: #FF3B00
  Yellow-Orange: #FF6A13
  Hot Lava Orange: #FF4500
  Yellow: #FFBB00
  Lava Yellow: #FDB813
  Molten Lava Red: #D84B16
  Dark Lava Brown: #3E2723
  Charcoal Black: #2A2A2A 
  my orange: #FF5C00 */


.Title {
    padding: 8px 5px;
    background: linear-gradient(to bottom, #24252A, #3E2723);
    display: inline-block;
    text-align: center;
    margin: 20px auto;
    border: 3px solid #ffc300;
    box-shadow:
        0 0 6px #ff5733,
        0 0 12px #c70039,
        0 0 24px #900c3f,
        0 0 48px #581845;
    color: #ffdab9;
    text-shadow:
        0 0 3px #ff8c00,
        0 0 6px #ff4500,
        0 0 12px #dc143c,
        0 0 24px #800000;
  
  }
  
  .Title h1 {
    font-size: 40px;
    font-family: 'CustomFont1', sans-serif;
    /* color: linear-gradient(to bottom, #3E1F1C, #FF5C00); */
    /* background: linear-gradient(to bottom, #A53E00, #FF5C00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin: 0;
  }

  .linkNoUnder{
    text-decoration: none;
  }

  .Title p {
    font-size: 20px;
    display: inline;
    font-family: 'CustomFont2', sans-serif;
    /* color:  #FF5C00; */
    text-decoration: underline solid #D84B16 2px;
    color: #ffdab9;
    text-shadow:
        0 0 3px #ff8c00,
        0 0 6px #ff4500,
        0 0 12px #dc143c,
        0 0 24px #800000;
  }

.CTADiv {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.CTA {
    max-width: 35%;
    text-align: center;
    border: 2px solid #ffc300;
    box-shadow:
        0 0 6px #ff5733,
        0 0 12px #c70039,
        0 0 24px #900c3f,
        0 0 48px #581845;
    border-radius: 20px;
    padding: 5px;
    background: #3E2723;
    background-image: url('/images/lavaRocks3.jpg');
    background-repeat: repeat;
    background-size: 100px auto;
}
.CTA h2 {
    /* color: #FFBF00; */
    /* color: linear-gradient(to bottom, #FFBF00, #FF5C00); */
    font-size: 28px;

    color: #ffdab9;
    text-shadow:
        0 0 3px #ff8c00,
        0 0 6px #ff4500,
        0 0 12px #dc143c,
        0 0 24px #800000;
}

.CTA p {

    /* color: #ffae42;
    text-shadow:
    0 0 5px #ff4500,
    0 0 10px #ff6347,
    0 0 20px #ff0000,
    0 0 40px #e60000; */

  /* color: #f77f00;
text-shadow:
  0 0 8px #ff2200,
  0 0 16px #e60000,
  0 0 32px #990000,
  0 0 64px #330000; */

  /* color: #ffc300;
text-shadow:
  0 0 6px #ff5733,
  0 0 12px #c70039,
  0 0 24px #900c3f,
  0 0 48px #581845; */

  color: #ffdab9;
  font-weight: 500;
text-shadow:
  0 0 3px #ff8c00,
  0 0 6px #ff4500,
  0 0 12px #dc143c,
  0 0 24px #800000;

    font-size: 21px;
}

.CTA a {
    font-size: 20px;
    color: #ffdab9;
    text-shadow:
        0 0 3px #ff8c00,
        0 0 6px #ff4500,
        0 0 12px #dc143c,
        0 0 24px #800000;
}

.Bookimg {
    margin-left: 20px; /* Add some space between the text and the image */
}
  
.Bookimg img {
    width: 200px; /* Adjust image size */
    height: auto; /* Maintain aspect ratio */
    border: 2px solid #ffc300;
    box-shadow:
        0 0 6px #ff5733,
        0 0 12px #c70039,
        0 0 24px #900c3f,
        0 0 48px #581845;
}

.Bookinfo {
    max-width: 30%;
    background: #3E2723;
    padding: 5px;
    border: 2px solid #ffc300;
    box-shadow:
        0 0 6px #ff5733,
        0 0 12px #c70039,
        0 0 24px #900c3f,
        0 0 48px #581845;
    border-radius: 20px;
    background-image: url('/images/lavaRocks3.jpg');
    background-repeat: repeat;
    background-size: 100px auto;
    color: #ffdab9;
    text-shadow:
        0 0 3px #ff8c00,
        0 0 6px #ff4500,
        0 0 12px #dc143c,
        0 0 24px #800000;
}

.Bookinfo p {
    margin: 5px 0;
    font-size: 21px;
}

.bookTitle {
}

.bookAuthor {
}

.bookNarrate {
}

.bookDate {
}

.bookGenre {
}

.Explore{
    background: #3E2723;
    border: 2px solid #ffc300;
    box-shadow:
        0 0 6px #ff5733,
        0 0 12px #c70039,
        0 0 24px #900c3f,
        0 0 48px #581845;
    border-radius: 20px;
    margin: 25px;
    padding-bottom: 10px;
    background-image: url('/images/lavaRocks3.jpg');
    background-repeat: repeat;
    background-size: 100px auto;
    padding: 20px;
}

.Explore h2{
    text-align: center;
    font-size: 30px;
    font-size: 35px;
    /* background: linear-gradient(to right, #9B111E, #FF5C00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* border-bottom: 1px solid #f77f00;
    box-shadow:
        0 8px 8px -4px #ff2200,
        0 8px 16px -4px #e60000,
        0 8px 32px -4px #990000,
        0 8px 64px -4px #330000; */
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 20px;
    color: #ffdab9;
    text-shadow:
        0 0 3px #ff8c00,
        0 0 6px #ff4500,
        0 0 12px #dc143c,
        0 0 24px #800000;
}

.ExploreBy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ExploreBy h2 {
    text-align: center;
    padding: 8px;
    font-size: 30px;
    color: #9B111E;
    
    
}

.ExploreBy div {
    padding: 5px;
    flex: 1;
    text-align: center;
    color: #ffdab9;
    text-shadow:
        0 0 3px #ff8c00,
        0 0 6px #ff4500,
        0 0 12px #dc143c,
        0 0 24px #800000;
}

.ExploreBy div h3 {
    text-decoration: underline;
    font-size: 22px;
}

.ExploreBy div p{
    font-size: 21px;
}

.ExploreBy .NoLinkStyle1{
    text-decoration: none; 
    color: inherit; 
    display: block; 
    height: 100%;
    max-width: 30%;
    /* border: 2px solid #FF5C00; */
    border: 2px solid #f77f00;
    box-shadow:
        0 0 8px #ff2200,
        0 0 16px #e60000,
        0 0 32px #990000,
        0 0 64px #330000;
}

.ExploreBy .NoLinkStyle2{
    text-decoration: none; 
    color: inherit; 
    display: block; 
    height: 100%;
    max-width: 33%;
    border: 2px solid #f77f00;
    box-shadow:
        0 0 8px #ff2200,
        0 0 16px #e60000,
        0 0 32px #990000,
        0 0 64px #330000;
}

.ExploreBy .NoLinkStyle3{
    text-decoration: none; 
    color: inherit; 
    display: block; 
    height: 100%;
    max-width: 29%;
    border: 2px solid #f77f00;
    box-shadow:
        0 0 8px #ff2200,
        0 0 16px #e60000,
        0 0 32px #990000,
        0 0 64px #330000;
}

.Book1 {
    /* background: linear-gradient(to left, #FFBF00, #FF5C00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin: 5px;
}

.Book2 {
    /* background: linear-gradient(to bottom, #FFBF00, #FF5C00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin: 5px;
}

.Book3 {
    /* background: linear-gradient(to right, #FFBF00, #FF5C00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin: 5px;
}

.OfTheDay{
    display: flex; 
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.Quote{
    max-width: 40%;
    border: 3px solid #ffc300;
    box-shadow:
        0 0 6px #ff5733,
        0 0 12px #c70039,
        0 0 24px #900c3f,
        0 0 48px #581845;
    border-radius: 20px;
    padding: 5px;
    background: #3E2723;
    background: linear-gradient(to bottom, #3E2723, #24252A);
    margin: 20px;
    color: #ffdab9;
    text-shadow:
        0 0 3px #ff8c00,
        0 0 6px #ff4500,
        0 0 12px #dc143c,
        0 0 24px #800000;
}

.Quote h2 {
    text-align: center;
    /* background: linear-gradient(to right, #9B111E, #FF5C00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #FF4500; */
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-family: 'CustomFont1', sans-serif;
    font-size: 35px;
}

.Quote p{
    font-size: 25px;
    background: linear-gradient(to left, #FFBF00, #FF5C00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5px;
    /* font-family: 'CustomFont2', sans-serif; */
}

.Poem{
    max-width: 40%;
    text-align: center;
    border: 3px solid #ffc300;
    box-shadow:
        0 0 6px #ff5733,
        0 0 12px #c70039,
        0 0 24px #900c3f,
        0 0 48px #581845;
    border-radius: 20px;
    padding: 5px;
    background: #3E2723;
    margin: 20px;
    background: linear-gradient(to bottom, #3E2723, #24252A);
    color: #ffdab9;
    text-shadow:
        0 0 3px #ff8c00,
        0 0 6px #ff4500,
        0 0 12px #dc143c,
        0 0 24px #800000;
}

.Poem h2 {
    font-family: 'CustomFont1', sans-serif;
    /* background: linear-gradient(to left, #9B111E, #FF5C00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #FF4500; */
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    font-size: 35px;
}

.Poem p {
    /* font-family: 'CustomFont2', sans-serif; */
    background: linear-gradient(to top, #FFBF00, #FF5C00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.8;
    font-size: 25px;
}