.Book {
    border: 2px solid black;
    display: inline-flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: black;
}

.Title {
    text-align: center;
    font-size: 18px;
    max-width: 350px;

}

.Image {
    max-width: 350px; 
    max-height: 500px; 
    min-width: 350px; 
    min-height: 500px; 
    object-fit: contain;
    align-items: center;
    padding-top: 10px;
}