* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.pageBackground {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #24252A, black);
  position: relative;
  overflow: hidden;
}

.wrapper{
  display: flex; 
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 80vw; /* Adjust width as needed */
  height: 100%;
  /* max-width: 1200px; */
  margin: 0 auto; /* Centers the wrapper horizontally */
  background-color: black;
  background-image: var(--image-background, linear-gradient(to bottom, var(--gradient-one), var(--gradient-two)));
  background-repeat: repeat;
  /* background-size: auto; */
  background-size: var(--bg-size);
  border-right: 1.5px solid #A39029;
  border-left: 1.5px solid #A39029;
  border-bottom: 1.5px solid #A39029;
  overflow: hidden;
  position: relative;
}