* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.pageBackground {
  width: 100%;
  background: linear-gradient(to bottom, #24252A, black);
}

.wrapper{
  display: flex; 
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 80%; /* Adjust width as needed */
  height: 100%;
  max-width: 1200px; /* Maximum width to prevent it from growing too wide */
  margin: 0 auto; /* Centers the wrapper horizontally */
  background-color: #3E1F1C;
  background-image: var(--image-background, linear-gradient(to bottom, var(--gradient-one), var(--gradient-two)));
  background-repeat: repeat;
  background-size: auto;
  background-size: 60% 60%;
  border-right: 1.5px solid #A39029;
  border-left: 1.5px solid #A39029;
  border-bottom: 1.5px solid #A39029;
}