/* #root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@font-face  {
  font-family: 'CustomFont1';
  src: url('/fonts/RingbearerMedium-51mgZ.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face  {
  font-family: 'CustomFont2';
  src: url('/fonts/HobbitonBrushhandhobbitonBrush-WygA.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face  {
  font-family: 'CustomFont3';
  src: url('/fonts/Theonering-Xq3d.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.pageBackground {
  width: 100%;
  background: linear-gradient(to bottom, #24252A, black);
}

.wrapper{
  display: flex; 
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 80%; /* Adjust width as needed */
  height: 100%;
  max-width: 1200px; /* Maximum width to prevent it from growing too wide */
  margin: 0 auto; /* Centers the wrapper horizontally */
  background-color: #3E1F1C;
  background-image: linear-gradient(to bottom, #3E1F1C, #FF5C00);
  border-right: 1.5px solid #A39029;
  border-left: 1.5px solid #A39029;
  border-bottom: 1.5px solid #A39029;
}