:root{
  /* --gradient-one: #3E1F1C;
  --gradient-two: #FF5C00; */
  --gradient-one: black;
  --gradient-two: black;
}

[data-theme="lava"]{
  --image-background: url('/images/lava.jpg');
  --bg-size: 50% 50%;
  --gradient-one: #3E1F1C;
  --gradient-two: #FF5C00;
}

[data-theme="forest"]{
  --gradient-one: #7cb518;
  --gradient-two: #3e6b32;
}

[data-theme="sky"]{
  --gradient-one: #87CEEB;
  --gradient-two: #00BFFF;
}

[data-theme="nightsky"]{
  --gradient-one: #0b1d51;
  --gradient-two: #3b1e5e;
}

[data-theme="stars"]{
  --gradient-one: black;
  --gradient-two: black;
  --image-background: url('/images/starry5.jpeg');
  --bg-size: 90% 90%;
}

[data-theme="castle"]{
--image-background: url('/images/stonewall.jpg');
--bg-size: 100% 100%;
--gradient-one: #686868;
--gradient-two: #3b3b3b;
}

[data-theme="blue"]{
  --gradient-one: blue;
  --gradient-two: cyan;
  --image-background: url('/images/blueTile.png');
  --bg-size: 40% 40%;
  --text-color: black;
}

[data-theme="green"]{
  --gradient-one: #7cb518;
  --gradient-two: #3e6b32;
  --image-background: url('/images/greenTile.png');
  --chapter-background: url('/images/grassTexture1.webp');
  --play-circle: url('/images/play_circle_green.png');
  --play-background: #B57EDCA6;
  --bg-size: 40% 40%;
  --text-color: #B57EDC;   
  --hover-color: #FF4FF8;
  --border-color: #A0522D;
}

[data-theme="orange"]{
  --gradient-one: red;
  --gradient-two: orange;
  --image-background: url('/images/orangeTile.png');
  --chapter-background: url('/images/lavaRocks3.jpg');
  --play-circle: url('/images/play_circle_orange.png');
  --bg-size: 40% 40%;
  --bg-size2: 20% auto;
  --text-color: #ffc300;
  /* color: #ffdab9;
    text-shadow:
        0 0 3px #ff8c00,
        0 0 6px #ff4500,
        0 0 12px #dc143c,
        0 0 24px #800000; */
  --border-color: #ffc300;
  --box-shad1: #ff5733;
  --box-shad2: #c70039;
  --box-shad3: #900c3f;
  --box-shad4: #581845;
  --hover-color: #ff8c00;
}

[data-theme="yellow"]{
  --gradient-one: yellow;
  --gradient-two: orange;
  --image-background: url('/images/yellowTile.png');
  --play-circle: url('/images/play_circle_black.png');
  --bg-size: 40% 40%;
  --text-color: black;
}

[data-theme="purple"]{
  --gradient-one: purple;
  --gradient-two: rgb(56, 1, 56);
  --image-background: url('/images/purpleTile.png');
  --play-circle: url('/images/play_circle_black.png');
  --bg-size: 40% 40%;
  --text-color: black;
}

[data-theme="navy"]{
  --gradient-one: navy;
  --gradient-two: navy;
  --text-color: white;
}

