:root{
  --gradient-one: #3E1F1C;
  --gradient-two: #FF5C00;
}

[data-theme="lava"]{
  --image-background: url('/images/lava.jpg');
  --bg-size: 50% 50%;
  --gradient-one: #3E1F1C;
  --gradient-two: #FF5C00;
}

[data-theme="forest"]{
  --gradient-one: #7cb518;
  --gradient-two: #3e6b32;
}

[data-theme="sky"]{
  --gradient-one: #87CEEB;
  --gradient-two: #00BFFF;
}

[data-theme="nightsky"]{
  --gradient-one: #0b1d51;
  --gradient-two: #3b1e5e;
}

[data-theme="castle"]{
--image-background: url('/images/stonewall.jpg');
--bg-size: 100% 100%;
--gradient-one: #686868;
--gradient-two: #3b3b3b;
}

[data-theme="blue"]{
  --gradient-one: blue;
  --gradient-two: cyan;
  --text-color: black;
}

[data-theme="green"]{
  --gradient-one: #7cb518;
  --gradient-two: #3e6b32;
  --text-color: black;
}

[data-theme="red"]{
  --gradient-one: red;
  --gradient-two: orange;
  --text-color: black;
}

[data-theme="navy"]{
  --gradient-one: navy;
  --gradient-two: navy;
  --text-color: white;
}

